@import "tailwindcss";
@import "./lightbox.css";

@plugin '../utils/hero.ts';
@plugin "tailwindcss-motion";

@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-shine: shine 3s linear infinite;

  --font-poppins: var(--font-poppins);

  --sidebar-width: 80px;
  --sidebar-width-expanded: 224px;
  --topbar-height: 64px;
  --content-max-width: 1440px;

  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  h1, h2, h3, h4 {
    text-wrap: balance;
  }

  h1 {
    @apply text-3xl font-black leading-tight md:text-5xl;
  }

  h2 {
    @apply text-2xl font-bold leading-tight md:text-4xl;
  }

  h3 {
    @apply text-xl font-bold leading-snug md:text-3xl;
  }

  h4 {
    @apply text-lg font-semibold leading-snug md:text-2xl;
  }

  h5 {
    @apply text-base font-medium md:text-lg;
  }

  h6 {
    @apply text-sm font-normal md:text-base;
  }

  iframe {
    @apply border-none;
  }
}

@utility embla {
  @apply overflow-hidden;
}

@utility embla__container {
  @apply flex cursor-grab active:cursor-grabbing;
}

@utility embla__slide {
  @apply min-w-0 flex-[0_0_100%];
}

@utility absolute-center {
  @apply absolute! top-1/2! left-1/2! float-none! -translate-x-1/2! -translate-y-1/2!;
}

@utility movie-grid {
  @apply grid size-full grid-cols-2 justify-center gap-3 sm:grid-cols-3 md:gap-4 lg:grid-cols-[repeat(auto-fill,minmax(180px,1fr))];
}

@utility app-region-drag {
  -webkit-app-region: drag;
  app-region: drag;
}

@utility app-region-no-drag {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}
